<section class="home">
  <div *ngIf="!goToCategory">
    <h2 class="home_title">Bienvenu sur ce quiz</h2>
    <p class="home_presentation">Ce quiz a pour but éducatif</p>
    <form action="" class="home_form">
      <label for="name">Pseudo</label>
      <input
        type="text"
        id="name"
        name="name"
        placeholder="Entrez un pseudo"
        [(ngModel)]="playerName"
        required
      />
    </form>
    <button
      class="home_quiz-btn btn--outline"
      (click)="navigateToCategory()"
      [disabled]="isPlayerNameFill"
    >
      Démarrer
    </button>
  </div>
  <div *ngIf="goToCategory">
    <app-category [playerName]="playerName"></app-category>
  </div>
</section>
